@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: #0252cc;
    --color-bg-secondary: #ffc402;
    --color-bg-default: #fff;
    --color-bg-inverse: #fff;
  
    --color-text-primary: #fff;
    --color-text-secondary: #755f17;
    --color-text-default: #444;
    --color-text-default-soft: #999;
    --color-text-inverse: #444;
    --color-text-inverse-soft: #767676;
  
    --font-display: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 400;
    --font-weight-btn: 600;
  
    --rounded-btn: 0.25rem;
  }
  
  .theme-dark {
    --color-bg-primary: #847543;
    --color-bg-secondary: #dcd0c0;
    --color-bg-default: #f4f4f4;
    --color-bg-inverse: #373737;
  
    --color-text-primary: #fff;
    --color-text-secondary: #927e7e;
    --color-text-default: #373737;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #bbb;
  
    --font-display: Georgia, Times, 'Times New Roman', serif;
    --font-body: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
      'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
      'Verdana Ref', sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 400;
    --font-weight-btn: 600;
  
    --rounded-btn: 0;
  }
}